<% provide(:title, 'Home') %>
<!-- Title -->
<div class="row bottom-large-spacer">
    <div class="span7 center">
        <%= image_tag("RedRoverLogo.png") %>
    </div>
</div>

<!-- Video -->
<div class="row bottom-small-spacer">
    <div class="span8 center">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/ngAPkCoIAzQ?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Social -->
<div class="row bottom-small-spacer center">
    <div class="span12">
        <div class="row">
            <div class="span3 offset1">
                <%= image_tag("TwitterIcon-100x100.png") %>
            </div>
            <div class="span3">
                <%= image_tag("Ko-opLogo-100x123.png") %>
            </div>
            <div class="span3">
                <%= image_tag("FacebookIcon-100x100.png") %>
            </div>
        </div>
    </div>
</div>

<!-- Text -->
<div class="row">
    <div class="span7 justify">
        <p><span class="highlight">Red Rover</span> is an experimental game about space exploration and the human voyage to Mars.  It combines elements of first-person discovery and puzzle-solving -- seen in game such as <span class="highlight">Myst</span> and <span class="highlight">Proteus</span> -- with an abstract and contemplative approach to hard sci-fi -- as in <span class="highlight">2001: A Space Odyssey</span> or Carl Sagan's <span class="highlight">Cosmos: A Personal Voyage.</span> Out in 2013 for PC, Mac, and Linux.</p>
  </div>
</div>
